:root {
	--primary-color: #FFADAD;
	--secondary-color: whitesmoke;
	--box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body{
	font-family: 'Roboto', sans-serif;
	width: 100%;
}

.logo_text{
	font-size: 3vh;
	font-weight: 200;
	letter-spacing: 0.5rem;
	word-spacing: 0.5rem;
	text-transform: uppercase;
}

img{
	width: 100%;
	height: auto;
}

.img-fluid {
	padding: 10px;
	border: 1px solid var(--primary-color);
}

.description_items{
	font-size: 2rem;
	text-align: justify;
}

.logo{
	max-height: 30px;
}

.headers{
	height: auto;
}

.brand_name img{
	width: 40%;
	height: auto;
}

h1 {
	font-size: 64px;
	padding: 0 2%;
	font-family: 'Quattrocento', serif;
}

h2 {
	font-size: 48px;
	margin: 0;
	font-family: 'Quattrocento', serif;
	font-weight: 600;
}

h3 {
	margin: 0;
}

.top_btns {
	margin: 5vh;
}

.nav_btns a {
	padding: 10px 15px;
	text-decoration: none;
	border-radius: 25px;
	box-shadow: var(--box-shadow);
	transition: all 0.3s ease-in-out;
	border: 1px solid var(--primary-color);
	font-family: 'Fanwood Text', serif;
	transition: all 0.5s ease-in-out;
}

.contact_mail {
	color: var(--primary-color);
	font-size: 28px;
}

.contact_me_button {
		background-color: var(--primary-color);
		color: black;
}

.contact_me_button:hover {
	background-color: var(--secondary-color);
	color: black;
}

.contact_mail:hover {
	text-decoration: underline;
}

.about_me_button{
	background-color: transparent;
	color: black;
}

.about_me_button:hover {
	color: black;
	background-color: var(--primary-color);
}

.description_header {
	font-size: 2.5rem;
}


@media (max-width: 1400px) {
	.description_items {
		font-size: 1.5rem;
	}
	/* .description_header {
		font-size: 2rem;
	} */
}

@media (max-width: 1200px) {
	.description_items {
		font-size: 1.2rem;
	}
	.description_header2{
		font-size: 36px;
	}
	/* .description_header {
		font-size: 1.8rem;
	} */
}

@media (max-width: 991px) {
	.description_items {
		font-size: 0.9rem;
	}
	.description_header2{
		font-size: 30px;
	}
}

@media (max-width: 942px) {
	/* .description_header {
		font-size: 1.5rem;
	}
	.logo_text {
		font-size: 100%;
	} */
}

@media (max-width: 790px) {
	/* .description_header {
		font-size: 1.2rem;
	} */
	.top_btns {
		margin: 5px;
	}
	.nav_btns a {
		font-size: 80%;
	}
}

@media (max-width: 633px) {
	/* .description_header {
		font-size: 1rem;
	} */
	.brand_name img {
		width: 60%;
	}
}

@media (max-width: 525px) {
	/* .description_header {
		font-size: 1.2rem;
	} */
	.brand_name img {
		width: 70%;
	}
}

@media (max-width: 414px) {
	.description_items {
		font-size: 1rem;
	}
	.brand_name img {
		width: 70%;
	}
	/* .logo_text {
		font-size: 80%;
		letter-spacing: 0.4rem;
		word-spacing: 0.3rem;
	}
	.description_header {
		padding-top: 5% !important;
		font-size: 1rem;
	} */
}

@media (max-width: 243px) {
	.nav_btns a {
		font-size: 60%;
		padding: 5px 10px;
	}
	/* .logo_text {
		font-size: 60%;
		letter-spacing: 0.3rem;
		word-spacing: 0.3rem;
	} */
}