:root {
	--primary-color: #9d5185;
	--secondary-color: whitesmoke;
	--box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body{
	font-family: 'Patrick Hand', cursive;
}

img{
	width: 100%;
	height: auto;
	/* padding: 3%;
	border: 1px solid black; */
}

.logo{
	max-height: 30px;
}


.headers{
	background-image: url(/img/express-50.JPG);
	position: relative;
	height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	padding: 5% 0;
	margin-top: 6vh;
	color: var(--secondary-color);
}

.headers::before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.1);
}

.new{
		position: relative;
}


/* .headers{
	background: linear-gradient(to bottom, #dfe9f3 0%, white 100%);
	position: relative;
	height: 100%;
	padding: 5% 0;
} */


.brand_name{
	/* position: relative; */
	text-shadow: 5px 5px 5px black;
	/* font-family: 'Satisfy', cursive; */
	/* font-family: 'Grape Nuts', cursive; */
	

	/* font-family: 'Roboto', sans-serif; */
}

h1 {
	font-size: 64px;
	padding: 0 2%;
}

h2 {
	font-size: 48px;
	margin: 0;
}

h3 {
	/* color: #4d004d;
	text-shadow: 2px 2px 2px white; */

	margin: 0;
}

h5{
	/* background: linear-gradient(0deg, #ffffff 28%, transparent 100%); */
}

.nav_btns a {
	padding: 15px 10px;
	text-decoration: none;
	background-color: var(--primary-color);
	color: var(--secondary-color);
	border-radius: 4px;
	box-shadow: var(--box-shadow);
	text-shadow: 1px 1px 0px black;
	transition: all 0.3s ease-in-out;
	border: 1px solid transparent;
}

.nav_btns a:hover{
	background-color: var(--secondary-color);
	border: 1px inset var(--secondary-color);
	color: black;
	text-shadow:none;
}

.contact_mail {
	color: var(--primary-color);
	font-size: 28px;
}

.contact_mail:hover {
	text-decoration: underline;
}